@model IEnumerable<SalesWeb.Models.Department>

@{
    ViewData["Title"] = "Departamentos";
}

<h1 class="display-5 mt-3">@ViewData["Title"]</h1>

<p style=" color: #F24D0D;">
    <a asp-action="Create"><img src="~/images/add.png" width="24px" height="24px" /> Novo departamento</a>
</p>
<div class="d-flex justify-content-start" style="max-width: 1000px;">
    <table class="table table-hover bg-pages table-shadow">
        <thead>
            <tr>
                <th class="text-white h5" style="background-color: #C43C08;">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="text-white h5" style="background-color: #C43C08;">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="fs-6">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="d-flex gap-4">
                        <a asp-action="Details" asp-route-id="@item.Id"><img src="~/images/details.png" width="24px" height="24px" /></a>
                        <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/edit.png" width="24px" height="24px"/></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/remove.png" width="24px" height="24px" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>