@model SalesWeb.Models.Seller;

@{
    ViewData["Title"] = "Deletar Vendedor";
}

<h2>@ViewData["Title"]</h2>

<h3>Deseja mesmo deletar esse vendedor?</h3>

<div>
    <h4>Vendedor</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaseSalary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseSalary)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" /> @*Campo oculto para enviar o código do vendedor que está sendo deletado*@
        <input type="submit" value="Deletar" />
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>