@model SalesWeb.Models.Seller;
@{
    ViewData["Title"] = "Detalhes";
}

<h1 class="display-5 mt-3 padding-pages">@ViewData["Title"]</h1>

<div class="padding-pages">
    <dl class="row">
        <dt class="col-sm-3 h5 mb-3" style="color: #F24D0D">
            @Html.DisplayNameFor(model => model.Name):
        </dt>
        <dd class="col-sm-9 h5 mb-3">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3 h5 mb-3" style="color: #F24D0D">
            @Html.DisplayNameFor(model => model.Email):
        </dt>
        <dd class="col-sm-9 h5 mb-3">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3 h5 mb-3" style="color: #F24D0D">
            @Html.DisplayNameFor(model => model.BirthDate):
        </dt>
        <dd class="col-sm-9 h5 mb-3">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-3 h5 mb-3" style="color: #F24D0D;">
            @Html.DisplayNameFor(model => model.BaseSalary):
        </dt>
        <dd class="col-sm-9 h5 mb-3">
            @Html.DisplayFor(model => model.BaseSalary)
        </dd>
        <dt class="col-sm-3 h5 mb-3" style="color: #F24D0D">
            @Html.DisplayNameFor(model => model.Department):
        </dt>
        <dd class="col-sm-9 h5 mb-3">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
    </dl>
</div>
<div class="padding-pages d-flex gap-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary buttons-crud">Editar</a>
    <a asp-action="Index" class="btn btn-outline-primary buttons-crud">Voltar</a>
</div>
