@model IEnumerable<IGrouping<Department, SalesRecord>>;

@{
    ViewData["Title"] = "Vendas";
    DateTime minDate = DateTime.Parse(ViewData["minDate"] as string);
    DateTime maxDate = DateTime.Parse(ViewData["maxDate"] as string);
}

<h1 class="display-5 mt-3">@ViewData["Title"]</h1>

<nav class="d-flex bg-main rounded-2">
    <form role="search" class="d-flex flex-column flex-md-row justify-content-between align-items-start w-100 p-2 gap-2">
        <div class="mb-3 mb-md-0 w-100 w-md-auto">
           <label for="minDate" class="form-label mb-1 fs-6">Data Inicial</label>
           <input type="date" name="minDate" value=@ViewData["minDate"] class="form-control input-nav" />
        </div>
        <div class="mb-3 mb-md-0 w-100 w-md-auto">
            <label for="maxDate" class="form-label mb-1 fs-6">Data Final</label>
            <input type="date" name="maxDate" value=@ViewData["maxDate"] class="form-control input-nav"/>
        </div>
        <div class="mb-3 mb-md-0 w-100 w-md-auto">
            <label for="sellerName" class="form-label mb-1 fs-6">Vendedor</label>
            <input type="text" name="sellerName" value="@ViewData["sellerName"]" class="form-control input-nav" placeholder="Pesquisar Vendedor"/>
         </div>
         <div class="mb-3 mb-md-0 w-100 w-md-auto">
            <label for="depratmentId" class="form-label mb-1 fs-6">Departamento</label>
            <select name="departmentId" class="form-select input-nav">
                <option value="">Todos</option>
                    @foreach (var dept in (SelectList)ViewBag.Departments)
                        {
                            var selected = dept.Value == ViewData["departmentId"]?.ToString() ? "selected" : "";
                            @: <option value="@dept.Value" @selected>@dept.Text</option>
                        }
             </select>
          </div>
          <div class="align-self-end">
            <button type="submit" class="btn btn-light buttons-nav">Filtrar</button>
          </div>
     </form>
</nav>
    
@foreach (var departmentGroup in Model)
{
    <div>
        <div class="text-white py-1 px-2 mt-3" style="background-color: #F24D0D;">
            <p class="fs-4 m-0 align-middle">Departamento: <span class="fw-bold">@departmentGroup.Key.Name</span> - Total de vendas: <span class="fw-bold">R$@departmentGroup.Key.TotalSales(minDate, maxDate).ToString("N2")</span></p>
        </div>
        <div class="table-responsive">
            <table class="table table-hover bg-pages table-shadow">
                <thead>
                    <tr>
                        <th class="text-white h6 align-middle text-nowrap" style="background-color: #C43C08;">
                            Data
                        </th>
                        <th class="text-white h6 align-middle text-nowrap" style="background-color: #C43C08;">
                            Valor
                        </th>
                        <th class="text-white h6 align-middle text-nowrap" style="background-color: #C43C08;">
                            Vendedor
                        </th>
                        <th class="text-white h6 align-middle text-nowrap" style="background-color: #C43C08;">
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in departmentGroup)
                    {
                        <tr>
                            <td class="fs-6 text-nowrap">
                                @Html.DisplayFor(model => item.Date)
                            </td>
                            <td class="fs-6 text-nowrap">
                                @Html.DisplayFor(model => item.Amount)
                            </td>
                            <td class="fs-6 text-nowrap">
                                @Html.DisplayFor(model => item.Seller.Name)
                            </td>
                            <td class="fs-6 text-nowrap">
                                @Html.DisplayFor(model => item.Status)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<div>
    <form asp-action="ExportCsv" method="get">
        <input type="hidden" name="minDate" value="@ViewData["minDate"]"/>
        <input type="hidden" name="maxDate" value="@ViewData["maxDate"]"/>
        <input type="hidden" name="sellerName" value="@ViewData["sellerName"]" />
    <div class="d-flex gap-2 justify-content-end mt-3 mt-sm-0 align-middle">
        <button type="submit" class="btn btn-outline-primary buttons-nav">Extrair Relatório</button>
        <a asp-action="Index" class="btn btn-outline-primary buttons-nav">Voltar</a>
    </div>
    </form>
</div>
