@model IEnumerable<IGrouping<Department, SalesRecord>>;

@{
    ViewData["Title"] = "Vendas por Departamento";
    DateTime minDate = DateTime.Parse(ViewData["minDate"] as string);
    DateTime maxDate = DateTime.Parse(ViewData["maxDate"] as string);
}

<h2>@ViewData["Title"]</h2>

<nav>
    <div>
        <form role="search">
            <div>
                <label for="minDate">Data Inicial</label>
                <div>
                    <input type="date" name="minDate" value=@ViewData["minDate"] />
                </div>
            </div>
            <div>
                <label for="maxDate">Data Final</label>
                <div>
                    <input type="date" name="maxDate" value=@ViewData["maxDate"] />
                </div>
            </div>
            <div>
                <label for="sellerName">Vendedor</label>
                <div>
                    <input type="text" name="sellerName" value="@ViewData["sellerName"]" />
                </div>
            </div>
            <div>
                <label for="depratmentId">Departamento</label>
                <div>
                    <select name="departmentId">
                        <option value="">Todos</option>
                        @foreach (var dept in (SelectList)ViewBag.Departments)
                        {
                            var selected = dept.Value == ViewData["departmentId"]?.ToString() ? "selected" : "";
                            @: <option value="@dept.Value" @selected>@dept.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div>
                <button type="submit">Filtrar</button>
            </div>
        </form>
    </div>
    
    <div>
        <form asp-action="ExportCsv" method="get">
            <input type="hidden" name="minDate" value="@ViewData["minDate"]"/>
            <input type="hidden" name="maxDate" value="@ViewData["maxDate"]"/>
            <input type="hidden" name="sellerName" value="@ViewData["sellerName"]" />
            <button type="submit">Baixar Relatório</button>
        </form>
    </div>
    <div>
        <a asp-action="Index">Voltar</a>
    </div>
</nav>
@foreach (var departmentGroup in Model)
{
    <div>
        <div>
            <h3>Departamento - @departmentGroup.Key.Name, Total de vendas: R$@departmentGroup.Key.TotalSales(minDate, maxDate).ToString("F2")</h3>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>
                            Data
                        </th>
                        <th>
                            Valor
                        </th>
                        <th>
                            Vendedor
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in departmentGroup)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Seller.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Status)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
