@model IEnumerable<IGrouping<Department, SalesRecord>>;

@{
    ViewData["Title"] = "Vendas por Departamento";
    DateTime minDate = DateTime.Parse(ViewData["minDate"] as string);
    DateTime maxDate = DateTime.Parse(ViewData["maxDate"] as string);
}

<h2>@ViewData["Title"]</h2>

<nav>
    <div>
        <form role="search">
            <div>
                <label for="minDate">Data Inicial</label>
                <div>
                    <input type="date" name="minDate" value=@ViewData["minDate"] />
                </div>
            </div>
            <div>
                <label for="maxDate">Data Final</label>
                <div>
                    <input type="date" name="maxDate" value=@ViewData["maxDate"] />
                </div>
            </div>
            <div>
                <div>
                    <button type="submit">Filtrar</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <a asp-action="Index">Voltar</a>
    </div>
</nav>
@foreach (var departmentGroup in Model)
{
    <div>
        <div>
            <h3>Departamento - @departmentGroup.Key.Name, Total de vendas: R$@departmentGroup.Key.TotalSales(minDate, maxDate).ToString("F2")</h3>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>
                            Data
                        </th>
                        <th>
                            Valor
                        </th>
                        <th>
                            Vendedor
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in departmentGroup)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Seller.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Status)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
