@model IEnumerable<SalesWeb.Models.SalesRecord>;

@{
    ViewData["Title"] = "Vendas";
}

<h1 class="display-5 mt-3">@ViewData["Title"]</h1>

<nav class="d-flex bg-main rounded-2">
    <form role="search" class="d-flex flex-column flex-md-row justify-content-between align-items-start w-100 p-2 gap-2">
        <div class="mb-3 mb-md-0 w-100 w-md-auto">
            <label for="minDate" class="form-label mb-1 fs-6">Data Inicial</label>
            <input type="date" name="minDate" value=@ViewData["minDate"] class="form-control input-nav"/>
        </div>
        <div class="mb-3 mb-md-0 w-100 w-md-auto">
            <label for="maxDate" class="form-label mb-1 fs-6">Data Final</label>
            <input type="date" name="maxDate" value=@ViewData["maxDate"] class="form-control input-nav"/>
        </div>
        <div class="mb-3 mb-md-0 w-100 w-md-auto">
            <label for="sellerName" class="form-label mb-1 fs-6">Vendedor</label>
            <input type="text" name="sellerName" value="@ViewData["sellerName"]" class="form-control input-nav" placeholder="Pesquisar Vendedor"/>
        </div>
        <div class="align-self-end">
            <button type="submit" class="btn btn-light buttons-nav">Filtrar</button>
        </div>
    </form>
</nav>
<div>
    <div>
        <h3>Total das Vendas: R$@Model.Sum(obj => obj.Amount).ToString("F2")</h3>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Seller)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Seller.Department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Date)

                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Seller.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Seller.Department.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Status)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <form asp-action="ExportCsv" method="get">
        <input type="hidden" name="minDate" value="@ViewData["minDate"]" />
        <input type="hidden" name="maxDate" value="@ViewData["maxDate"]" />
        <input type="hidden" name="sellerName" value="@ViewData["sellerName"]" />
        <button type="submit">Extrair Relatório</button>
    </form>
</div>
<a asp-action="Index" class="btn btn-light buttons-nav">Voltar</a>
